.team-card {
    border: 1px solid #ddd;
    padding:10px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    min-width: 400px;
    max-width:fit-content;
  }
  
  .team-card img {
    width: 80px;
    height:80px;
    object-fit: cover;
    border-radius: 80%;
  }
  
  .team-card h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
  }
  
  .team-card p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .team-card button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) {
    .team-card {
      width: 30%;
      margin-right: 2.5%;
      margin-left: 2.5%;
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .team-card {
      width: 22.5%;
      margin-right: 2.5%;
      margin-left: 2.5%;
      margin-bottom: 40px;
    }
  }
  
  .teamList{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  .teamList p{
    font-size: 25px;
    font-weight: 500;
  }